.aboutme{
    display: flex;
    height: 100vh;
    align-items: center;
}

.marvel{
    font-family: 'Cookie', cursive;
}

.line-1 {
    height: 4px;
    background: #f44336;
    margin-right: 35px;
    margin-top: 0px;
    position: relative;
    top: -40px;
  }

.a-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    
}



.a-right{
    flex: 1;
    font-size: 40px;
    font-family:'Merriweather', serif;
}

.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    align-items: center;

}

.a-image{
    width: 110%;
    height: 80%;
    object-fit: cover;
    border-radius: 20px;
    position: relative;
    top: 100px;
    left: -200px;
}


.bg-image{
    position: relative;
    background-color:#000006;
    height: 450px;
    width: 500px;
    top: -30px;
    left: 100px;
    border-radius: 20px;
    
}

@media (max-width: 900px) {
    .aboutme{
        display: flex;
        height: 100vh;
        align-items: center;
        flex-direction: column;
    }

    .a-right{
        padding: 10px;
        font-size: 30px;
        text-align: center;
    }

    .bg-image{
        position: relative;
        background-color:#000006;
        height: 380px;
        width: 500px;
        top: -30px;
        left: 95px;
        border-radius: 22px;
        
    }

    .a-image{
        width: 155%;
        height: 60%;
        object-fit: cover;
        border-radius: 22px;
        position: relative;
        top: 120px;
        left: -185px;
    }

    .line-1 {
        height: 4px;
        background: #f44336;
        margin-right: 45px;
        margin-left:45px ;
        margin-top: 0px;
        position: relative;
        top: -40px;
      }
    

}